@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");

* {
  box-sizing: border-box;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --title-font: "Titan One", cursive;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: bold;
  color: var(--chakra-colors-brand-Keppler);
}

a:hover {
  color: var(--chakra-colors-brand-OrangeYellow);
}

#nav {
  z-index: 15;
}

#nav a {
  font-weight: normal;
}

#nav a:hover {
  color: var(--chakra-colors-brand-Cultured);
  cursor: pointer;
}

.menchi-title {
  -webkit-text-stroke: 1px var(--chakra-colors-brand-RocketMetallic);
}

#formtoggle-text:hover {
  cursor: pointer;
  color: (--chakra-colors-brand-Bittersweet);
}

.clickable:hover {
  cursor: pointer;
}

.chakra-button:active {
  transform: scale(0.95);
}
